*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	cursor: url('cursor.png'), auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgba(93,56,0,.2);
}

.face{
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #ffcd00;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s
}

.face:hover{
	background: #c3dfa2;
}

.face::before{
	content: '';
	position: absolute;
	top: 180px;
	width: 150px;
	height: 70px;
	background: #b57700;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
	transition: .5s
}

.face:hover::before{
	top: 210px;
	width: 150px;
	height: 20px;
	background: #86a066;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.eyes{
	position: relative;
	top: -40px;
	display: flex;
}

.eyes .eye{
	position: relative;
	width: 80px;
	height: 80px;
	display: block;
	background: #fff;
	margin: 0 15px;
	border-radius: 50%;
}

.eyes .eye::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 25px;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	background: #333;
	border-radius: 50%
}